@tailwind base;


.bggradient {
  scale: 110%;
  background: linear-gradient(-90deg, #ff1827, #004bd9, #971ea5,#ff8e00, #55e2a6);
  background-size: 300% 300%;
  animation: gradient 3s ease infinite;
  color: #fafaf9;
}

.four-point-star::after,
.four-point-star::before {
    position: absolute;
    content: "\2726";
    font-size: 10rem;
}

.four-point-star::after { /* The foreground star */
    background: #ff1827;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.four-point-star {
    position: relative;
}


.modalinfobg {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
 .modalinfo {
  position: absolute;
	background: #1c1917;
	background-size: 400% 400%;
  border-radius: 50px; 
	animation: gradient 15s ease infinite;
  padding: 8px;
  margin: auto;
  align-items: stretch;
  display: flex;
  z-index: 90;
 }

 .modalbuttonbg {
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
 } 

 .iwbuttonsolid {
  border-radius: 30px;
  background-color: #fafaf9;
  color: #1c1917;
  font-size: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-transform: uppercase;
}
/* Write your own custom base styles here */
.accordion {
  padding: 20px;
  border: 1px solid transparent;
}

.accordion__item + .accordion__item {
  border-top: 1px solid transparent;
}

.accordion__button {
  background: #fafaf9;
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  animation: gradient 3s ease infinite;
}

.accordion__button:hover {
  background-color: #ddd;
}

.accordion__button:before {
  display: inline-block;
  content: '';
  height: 10px;
  width: 10px;
  margin-right: 12px;
  border-bottom: 2px solid currentColor;
  border-right: 2px solid currentColor;
  transform: rotate(-45deg);
}

.accordion__button[aria-expanded='true']::before,
.accordion__button[aria-selected='true']::before {
  transform: rotate(45deg);
}

[hidden] {
  display: none;
}

.accordion__panel {
  padding: 20px;
  animation: fadein 0.35s ease-in;
  background-color: #fafaf9;
  color: black;
}

/* -------------------------------------------------- */
/* ---------------- Animation part ------------------ */
/* -------------------------------------------------- */

@keyframes fadein {
  0% {
      opacity: 0;
  }

  100% {
      opacity: 1;
  }
}

/* end accordion styles */

@layer base {
  html {
      font-family: Inter, Manrope, sans-serif, system-ui;
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
      color: #1c1917;
    }
  h2 {
      font-family: Inter;
      letter-spacing: 1.5px;
      line-height: 1.2em;
      font-size: 3rem;
      font-weight: 900;
      text-transform: uppercase;
  }
  h3 {
    font-family: Inter;
    letter-spacing: 2px;
    line-height: 1.0em;
    font-size: 2.5rem;
    font-weight: 700;
    text-transform: uppercase;
  }
  h4 {
      font-family: Manrope;
      font-size: 1.5rem;
  }
  p {
      font-family: Manrope;
    }
  html::-webkit-scrollbar {
    display: none;
  }
  li > ul { display: none; }
  li:hover > ul { display: block; }
  .lvl1 li { display: relative; position:relative; }
  .lvl2 { position: absolute; }
  .lvl2 li { position: relative; }
}

@font-face {
  font-family: 'Inter';
  src: url(/fonts/Inter/Inter-VariableFont_slnt,wght.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}
@font-face {
  font-family: 'Manrope';
  src: url(/fonts/Manrope/Manrope-VariableFont_wght.ttf) format('truetype');
  /* other formats include: 'woff2', 'truetype, 'opentype',
                            'embedded-opentype', and 'svg' */
}

/* Start purging... */
@tailwind components;
/* Stop purging. */

/* Write you own custom component styles here */
.iwbuttonsolid {
  border-radius: 30px;
  background-color: #fafaf9;
  color: #1c1917;
  font-size: 2rem;
  padding-left: 3rem;
  padding-right: 3rem;
  text-transform: uppercase;
}

.image-cropper {
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}

.roundedimage {
  display: inline;
  margin: 0 auto;
}

.waves {
  z-index: 0;
  bottom: 0px;
  position: relative;
}

.sparkler {
  max-width: 10%;
  max-height: 10%;
}

.mainlogo {
  position: static;
  top: 20px;
  max-width: 40%;
  max-height: 40%;
  display:block;
  margin:auto;
}

.a2imLogo {
  max-width: 20%;
  max-height: 20%;
  margin:auto;
}

.recentNews {
  background: rgba(255, 254, 216, 0.6);
  padding: 20px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border: 2px;
  border: 2px solid white;
  padding: 20px;
  border-color: white;
}

.iwborder {
  position: relative;
}
.iwborder::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px; 
  border-style: groove;
  padding: 6px; 
  background: #fafaf9;
  -webkit-mask: 
     linear-gradient(#fafaf9 0 0) content-box, 
     linear-gradient(#fafaf9 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

.iwborder2 {
  position: relative;
}
.iwborder2::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px; 
  border-style: groove;
  padding: 6px; 
  background: #fafaf9;
  -webkit-mask: 
     linear-gradient(#fafaf9 0 0) content-box, 
     linear-gradient(#fafaf9 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude; 
}

.iwnavbar {
	background: linear-gradient(-90deg, rgba(255, 24, 39, 1), #1c1917, rgba(255, 24, 39, 1));
	background-size: 200% 200%;
	animation: gradient 13s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.wp-block-buttons {
  display: flex;
  margin: auto;
  justify-content: center;
  width: 50%;
}
.wp-block-button {
  margin-left: 30px;
  margin-right: 30px;
  background:#fafaf9;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  padding: 10px;
  transition: all .2s ease-in-out;
  filter: drop-shadow(0 25px 25px rgb(0 0 0 / 0.15));
  font-style: bold;
  align-items: middle;
  flex-basis:  auto;
}
.wp-block-button:hover {
  background-color: rgb(232 121 249);
  transform: scale(1.02);
  transform-origin: center; 
}
.wp-block-button__link {
  text-decoration: none;
}
th.wp-block-table {
  border: 1px solid #1c1917;
}
td.wp-block-table {
  border: 1px solid #1c1917;
}
.wp-block-image {
  padding: 10px;
}
.mygrow { 
  transition: all .2s ease-in-out; 
}
  
.mygrow:hover { 
  transform: scale(1.02);
  transform-origin: center; 
}


@-webkit-keyframes Animation {
  0%{background-position:10% 10%}
  25%{background-position:20% 20%}
  50%{background-position:30% 30%}
  75%{background-position:10% 10%}
  100%{background-position:20% 20%}
}

@-moz-keyframes Animation {
  0%{background-position:10% 10%}
  25%{background-position:20% 20%}
  50%{background-position:30% 30%}
  75%{background-position:10% 10%}
  100%{background-position:20% 20%}
}

@keyframes Animation { 
  0%{background-position:10% 10%}
  25%{background-position:20% 20%}
  50%{background-position:30% 30%}
  75%{background-position:10% 10%}
  100%{background-position:20% 20%}
}


.archivebutton {
  transition: all .2s ease-in-out; 
}
  
.archivebutton:hover { 
  transform: scale(1.02);
  transform-origin: center; 
}

.categorytitle {
  font-size: 1.25rem; /* 20px */
  line-height: 1.75rem; /* 28px */
  font-weight: bold; 
  letter-spacing: -0.05em;
  line-height: 1.25;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */

.preload {
  display: none;
}

.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.social-container {
  background: transparent;
  padding: 15px 40px;
  position: relative;
  border: 4px solid transparent;
  padding: 15px 40px;
}

.social-container:hover {
  border-radius: 50px; 
  border: 4px solid #fafaf9;
  padding: 15px 40px;
}

a.social:hover {
  transform: translateY(-2px);
}

.footer-shadow {
  background-color: transparent;
}
.footer-shadow:hover {
  background-color:#292524;
}
